/*ajustement de la page */

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

html,body{overscroll-behavior: none;}

body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
}

/*header*/

header {
  background-color: rgb(55, 176, 141);
  width: 100%;
  display: inline-block;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  height: 10vh;
  margin-top: 2px;
  margin-bottom: 5px;
  flex-direction: column;
}

#Logo {
  width: 175px;
  height: 90px;
}

#Rechercher {
  flex-basis: 40%;
  height: 25px;
  font-size: 1.2em;
  border: none;
  margin-top: 25px;
  width: 625px;
  border-radius: 1px;
  font-style: italic;
}

header nav {
  width: 100%;
  display: inline-block;
}

header div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

#Panier {
  width: 45px;
  height: 45px;
}

header nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  text-transform: uppercase;
  align-items: stretch;
  margin: 0px;
  background-color: rgb(13, 124, 109);
}

.selected {
  background-color: rgb(52, 192, 173);
}

header nav li {
  /* margin: 0 15px; */
  flex-basis: 25%;
  position: relative;
  text-align: center;
  border-right: solid 1px white;
}

header p {
  font-size: 25px;
  border: solid 1px white;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  background-color: orange;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 10px;
}

header nav a:hover {
  text-decoration: underline;
}

header nav li:hover > ul {
  display: block;
}

header nav li > ul {
  display: none;
  position: absolute;
  background-color: rgb(55, 176, 141);
  min-width: 160px;
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header nav li > ul li {
  padding: 10px;
}

header nav li > ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

header nav li > ul li a:hover {
  background-color: #2a8f6c;
}

header nav li:hover > a {
  background-color: #37b08d;
}

/*body*/

main {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: white;
  box-shadow: 0px 8px 20px black;
}

#corps{width: 100%;display: flex;flex-wrap: wrap;}

#Réseau {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
}

#Réseau h1{ z-index: 1;position: absolute;font-size:65px;color: white;padding: 20 15; background-color: #080a0998;border: none;border-radius: 10px; margin-left: 75px;font-weight: normal;}
#Réseau img{ position: relative; width: 100%;}

#Recherche {
  width: 20%;
  background-color: aquamarine;
}

#Recherche input{	
  width: 75px;
}

#Recherche h2{margin: 20 20 20 20 ;}

#longueur,#prix{
  display: flex;
  flex-direction: row;
  border: none;
}

#cate{
  display: flex;
  flex-direction: column;
  border: none;
}

h3{margin-left: 40px;margin-bottom: 10px;font-size: normal;}

#cate section{display: flex;}


#longueur section,#prix section{display: flex;flex-direction: column;margin: 0 30 30;}

#corps{width: 80%;}

#Articles {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#Articles article {
  border: solid 1px gainsboro;
  width: 23%;
  margin: 10px;
  box-sizing: border-box;
}

#Articles article img {
  width: 100%;
  height: 200px;
}

#Articles article div {
  display: flex;
  align-items: end;
  justify-content: space-around;
}

.description {
  font-size: 14px;
  font-style: italic;
  color: dimgray;
}

h4 {
  font-weight: normal;
}

.prix {
  font-size: x-large;
}

article button {
  font-weight:500;
  background-color: rgb(41, 236, 34);
  color: white;
  border: none;
  padding: 5px 0px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 10px;
  width: 35%;
  font-size: 19px;
}

article section {
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: center;
}

button:hover {
  background-color: #2a8f6c;
}

main nav ul{display: flex; list-style: none;justify-content: center; flex-direction: initial;}

main nav ul li, .ele{display: flex;align-items: center;justify-content: center ;margin: 10px;padding: 15 15;height: 10px;width: 10px; border: solid 1px black;border-radius: 50%;}

main nav ul li:hover, .ele:hover{cursor:pointer;}

main nav{width: 100%;display: flex; justify-content: center;}

.b_selected{background-color: #2bd6a6; color: white;border: solid 1px white;}

/*footer*/

footer {
  background-color: rgb(55, 176, 141);
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#annonce{margin-bottom: 25px;}

footer #bas {
  display: flex;
  flex-direction: row;
  border-top: solid 1px white;
  width: 80%;
  margin: auto;
}

footer section {
  flex: 1 1 200px;
  margin: 10px;
}

footer section h2 {
  margin-bottom: 10px;
}

footer section ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

footer section ul li {
  margin-bottom: 8px;
}

#invisible{
  height: auto;
  width: 60px;
  border-top: solid 3px white ;
  margin-bottom: 15px;
  list-style: none;
}

footer section a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  border: none;
  background-color: #32d199;
  padding: 15px 20px;
  margin-bottom: 10px;
  height: auto;
  width: 125;
  text-transform: uppercase;
  font-weight: bold;
}

footer section a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

footer section a:hover {
  text-decoration: underline;
}

footer section p {
  font-size: 12px;
  text-align: center;
}

/*media queries*/

/*fullsize*/

@media (max-width: 1700px){
  .header-top {
    flex-direction: row;
    justify-content: space-around;
  }

  #Réseau h1{margin-left: 150px;padding: 25 25;}

  #Rechercher{width: 50px}

  #Recherche fieldset section{margin: 0 20 20;}

  main{width: 85%;}

  #Articles article {
    width: 22%;
}
}

@media (max-width: 1450px) {
  main{width: 90%;}
  #Recherche fieldset section{margin: 0 12 12;}
  #Logo{height: 75px; width: 150px;}
  .header-top{height: 10vh; margin-bottom: 10px;}
  #Réseau h1{margin-left: 125px;padding: 25 25;}
}

/*medium*/

@media (max-width: 1200px) {
  .header-top {
      flex-direction: row;
      justify-content: space-between;
      height: 15vh;
  }
  #Réseau h1{margin-left: 125px;padding: 25 25;}

  #Logo{height: 60px;width: 120px;}

  main{width: 100%;}


  #Rechercher {
      max-width: 50%;
      height: 25px;
  }

  #Articles article {
      width: 31%;
  }

  #Recherche fieldset{max-width: 300px;
    width: 100%;}

    #Recherche fieldset section{margin: 0 10 10;}


  nav ul {
      flex-direction: row;
      align-items: center;
  }
}

@media (max-width: 1000px){
  #Recherche fieldset section{margin: 0 8 8;}
  #longueur input,#prix input{width: 50px;}
  .header-top{height: 20vh;}
  #Articles article{width: 46%;}
  #Réseau h1{margin-left: 100px;padding: 25 25;}
  #Recherche fieldset section{width: 50}
  #Recherche h3{margin-left: 10;}
}

/*pas eu le temps de finir*/
@media (max-width: 800px) {
  .header-top {
      flex-direction: column;
  }

  #Recherche fieldset{
  width: 20%;}

  #Rechercher {
      max-width: 40%;
      width: 100%;
  }

  #Articles article {
      width: 46%;
  }
}


.image{
  height: 180px;
  width: 100%;
  background-color: lightgrey;}

.tit{height: 20px;}

.desc{height: 16px;}

.pr{height: 28px;}

.tit, .desc, .pr{width: 147px;}

.butt{
  content: none;
  border: none;
  height: 60px;
  width: 150px;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 12px;
  margin-right: 10px;
  width: 35%;}

.image, .tit, .desc, .pr, .butt{background-color: lightgrey;
animation : gradient 3s infinite;}

.sec{display: flex;
flex-direction: column;
gap: 2px;
margin-top: 5px;}

@keyframes gradient {
  0%{
    background-color: lightgrey;
  }
  50%{
    background-color: darkgrey;
  }
  100%{
    background-color: lightgray;
  }
}


