html {
  overscroll-behavior: none;
  scroll-behavior: smooth;
}
/*a*/
body {
  background: linear-gradient(180deg, #ebeaeb, #807f7f, #ebeaeb);
  background-size: 600% 600%;
  animation: back_anim 10s ease infinite;
  color: aliceblue;
}

@keyframes back_anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

p {
  margin: 0;
}

h2,
h3 {
  margin-left: 2%;
  margin-bottom: 1%;
}

#mode{
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
}

.subtitle {
  margin-left: 2%;
  margin-bottom: 2%;
  width: 45px;
  border-top: solid 8px #df0000;
  border-radius: 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: unset;
}

#principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
}

#pr_haut {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  border-bottom: solid 1px antiquewhite;
  padding-bottom: 10px;
}

#situation {
  width: auto;
  padding: 10px;
  background-color: #a00000;
  border-radius: 10%;
  font-size: small;
}

#pr_bas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.infos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: scroll;
  width: 100%;
  max-width: 120%;
  scroll-behavior: smooth;
}

.infos > img {
  width: 10%;
  padding: 10px;
  margin-right: 5px;
  background-color: #7c0000;
  border-radius: 65px;
}

.label {
  font-weight: bolder;
}

#photoprinc {
  width: 85%;
  margin: 15px;
  border-radius: 2px;
}

#principal,
#secondaire {
  border: solid 1px rgb(180, 180, 180);
  border-radius: 10px;
  margin: 35px;
  background: linear-gradient(180deg, #a00000 0%, #680000 100%);
  box-shadow: 0px 0px 15px rgb(73, 73, 73);
  scrollbar-color: red red;
  min-height: 60vh;
}

#reseaux > img {
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

#insta:hover,
#facebook:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#reseaux {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 85%;
}

#secondaire {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  scrollbar-color: rgb(255, 0, 0) rgb(255, 11, 11);
  overflow: scroll;
  max-height: 90vh;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

#navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  background-color: #979797;
  width: fit-content;
  margin-left: auto;
  margin-top: 0;
  border-radius: 3%;
}

#navbar > li,
#ab_me_list > li {
  position: relative;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 4px;
}

#navbar > li:not(.selected)::after,
#ab_me_list > li:not(.selected)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: red;
  transition: width 0.3s ease;
}

#navbar > li:hover::after,
#ab_me_list > li:hover::after {
  width: 100%;
}

#ab_me_list {
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  width: fit-content;
  list-style: none;
  justify-content: flex-start;
  margin-left: 0;
  position: relative;
  z-index: 10;
}

.selected {
  color: red;
  border-bottom: solid 2px red;
}

#profil {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: larger;
  margin-left: 2%;
  margin-right: 2%;
}

#ci {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hobby {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 45%;
  background: linear-gradient(270deg, #a00000 0%, #680000 100%);
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
  margin: 1%;
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(35px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.desc_hobby {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.desc_hobby > h5 {
  margin-top: 5px;
  color: #686868;
  font-style: italic;
}

.desc_hobby > h4 {
  margin-bottom: 5px;
}

.hobby > img {
  height: 75px;
  width: 75px;
  border-radius: 5px;
  margin: 20px;
}

.hobby > h4 {
  margin-left: 2%;
}

.log>p{
  order: 3;
}

.bar_des{
  margin: 5px;
  border-bottom: solid 1px aliceblue;
  width: 75%;
  order: 2;
  transition: 0.5s ease;
}

.log>p{
  transition: 0.5s ease;
}

#comp {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#carous_cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

#langages {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  transition: transform 0.5s ease;
}


.lan {
  margin-bottom: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex: 0 0 auto;
  width: 200px;
  background: linear-gradient(270deg, #a00000 0%, #680000 100%);
  margin: 1%;
  border-radius: 5px;
}

.lan > img {
  height: 75px;
  width: 75px;
  border-radius: 5px;
}

#bouton_carousel {
  width: 98%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;
  z-index: 20;
}

#prev {
  opacity: 50%;
  transform: scaleX(-1);
}

#bouton_carousel > img {
  width: 50px;
  height: 50px;
}

.lan .bar_des{
  width: 0;
  max-width: 75%;
  order: 2;
  transition: width 0.5s ease;
}

.lan:hover .bar_des{
  border-bottom: solid 1px #a00000;
  width: 100%;
}

.lan:hover p{
  color: #a00000;
}

.lan>p{
  order: 3;
}

#logiciels{
  display: flex;
  flex-direction: row;
  overflow: scroll;
  animation: fadeIn 0.5s ease-out forwards;
}

.log{
  margin-bottom: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex: 0 0 auto;
  width: 200px;
  background: linear-gradient(270deg, #a00000 0%, #680000 100%);
  margin: 1%;
  border-radius: 5px;
}

.log>img{
  width: 75px;
  height: 75px;
  border-radius: 5px;
  order: 1;
}

.log:hover, .lan:hover{
  background: linear-gradient(180deg, #cecece, #807f7f, #cecece);
  color: #a00000;
  cursor: pointer ;
  transform: translateY(-5px);
  box-shadow: rgb(75, 75, 75) 5px 5px 5px;
  transition: 0.3s ease;
}


.log:hover .bar_des{
  transform: translateY(25px);
  border-bottom: solid 1px #a00000;
}

.log:hover p{
  color: #a00000;
  transform: translateY(-25px);
}

#detail_ci {
  display: none;
  background-color: #a00000;
  width: 50%;
  border-radius: 5px;
}

#parcours{
  display: flex;
  flex-direction: column;
}

#parcours_liste{
  position: relative;
  list-style: none;
  padding-left: auto;
}

#parcours_liste li{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
  margin-bottom: 50px;
}

#parcours_liste li:not(:last-child)::after{
  content: '';
  position: absolute;
  top: 20px;       /* juste sous le point */
  left: 1%;       /* centre horizontal du point */
  transform: translateX(-50%); 
  width: 2px;      /* épaisseur de la ligne */
  height: calc(100% + 35px); /* s'étend sur le li + gap, ajuste selon ton spacing */
  background: white;
  z-index: 0;
}

.point{
  z-index: 2;
}

#parcours_liste li:last-child .point::after {
  display: none;
}

.annee{
  display: flex;
  flex-direction: row;
  width: 85%;
  gap: 25px;
}

.annee img{
  width: 100px;
  height: 75px;
}

.point{
  margin-bottom: 50px;
}

.desc_annee h4, .desc_annee h5{
  margin: 0;
}

.desc_annee{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.desc_annee h4{
  font-size: larger;
}

.desc_annee p{
  color: grey;
  font-style: italic;
}

.projet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
  margin: 2%;
  cursor: pointer;
  animation: fadeIn 0.5s ease-out forwards;
}

.projet > h3:hover {
  color: red;
}

.projet > img {
  width: 100%;
  border-radius: 5px;
}

#contact {
  display: none;
}

#contact_princip {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s ease-out forwards;
}

#contact_form {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 35px;
  margin-top: 2%;
}

#contact_form button {
  padding: 10px;
}

.form_group:not(#mess) {
  position: relative;
  width: 40%;
}

.form_group label {
  color: #4b4b4b;
  font-style: italic;
  position: absolute;
  pointer-events: none;
  transition: 0.5s ease all;
  top: 12px;
  left: 12px;
}

.form_group input:not(#message_txt) {
  width: 100%;
  padding: 12px;
  padding-top: 20px;
  display: block;
  box-sizing: border-box;
  outline: none;
}

#message_txt {
  width: 100%;
  vertical-align: top;
  padding: 5px 20px 100px 2px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  vertical-align: top; /* texte commence en haut */
  text-align: left; /* texte à gauche */
  resize: vertical;
}

.form_group input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  top: -20px;
  left: 8px;
  font-size: 15px;
  color: aliceblue;
  padding: 0 4px;
}

#mess {
  width: 100%;
  position: relative;
}

#form_head {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

#form_low {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
}

#map {
  height: 400px;
  width: 95%;
  margin-bottom: 2%;
}



@media (max-width: 1400px) {
  #parcours_liste li:not(:last-child)::after{
    left: 12px;
  }
}

@media (max-width: 800px) {
  main {
    flex-direction: column;
    justify-content: center;
  }

#mode{
  height: 40px;
  width: 40px;
}

  #pr_haut {
    border-bottom: solid 2px aliceblue;
  }

  #secondaire {
    width: 85%;
    overflow: scroll;
  }

  #ab_me_list {
    padding: 0;
  }
  .hobby {
    width: 45%;
  }
  .hobby > img {
    height: 75px;
    width: 75px;
  }

  .projet {
    width: 90%;
  }
  #contact_form {
    margin-top: 5%;
  }

  .annee{
    display: flex;
    flex-direction: column;
  }

  .annee img{
    width: 85%;
    height: 125px;
  }

  #parcours_liste li:not(:last-child)::after{
    left: 12px;
  }
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
    justify-content: center;
  }

  #mode{
    height: 40px;
    width: 40px;
  }
  

  #pr_haut {
    border-bottom: solid 2px aliceblue;
  }

  #secondaire {
    width: 85%;
    overflow: scroll;
  }

  #ab_me_list {
    padding: 0;
  }
  .hobby {
    width: 90%;
  }
  .hobby > img {
    height: 75px;
    width: 75px;
  }

  .annee{
    display: flex;
    flex-direction: column;
  }

  .projet {
    width: 90%;
  }
  #contact_form {
    margin-top: 5%;
  }
}

@media (max-width: 500px) {
  main {
    flex-direction: column;
    justify-content: center;
  }
  #pr_haut {
    border-bottom: solid 2px aliceblue;
  }

  #navbar{
    width: 100%;
    justify-content: center;
    padding-left: 0;  
  }

  #secondaire {
    width: 85%;
    overflow: scroll;
  }

  #ab_me_list {
    padding: 0;
  }
  .hobby {
    width: 90%;
  }
  .hobby > img {
    height: 75px;
    width: 75px;
  }

  .projet {
    width: 90%;
  }

  #contact_form {
    margin-top: 10%;
  }
  #form_head {
    flex-direction: column;
  }
  .form_group:not(#mess) {
    width: 98%;
  }
}
